/*
Author     : Krasimir Stoyanov
Company    : ProDevity
Description: Style-Layout

*/

/* Table of Content
==================================================

#GENERAL
#HEADER
#NAVIGATION BAR
#WHAT IT IS ALL ABOUT
#SPONSORS
#LECTURERS
#JURY
#ABOUT
#REISTER THROUGH SITE

=====SECTIONS=====
#HOME
#ABOUT
#SCHEDULE
#REGISTER
#ACCOMMODATION

*/

/* GENERAL
   ================================================== */

* {
    margin: 0;
    padding: 0;
}

html,body {
	overflow-x:hidden;
}

body {
    font-size: 10.5pt; /* 10pt = 14px */
    font-family: 'Lato',Arial,Helvetica,sans-serif;
    color: #535A6C;
    font-weight: 300;
}

@font-face {
    font-family: GoldenCatFont;
    src: url(A_PRESENTUMCPS-REGULAR.ttf);
}

ul {
    list-style: none;
}

a,
a:hover,
a:focus {
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family:'Lato',Arial,Helvetica,sans-serif;
	font-weight:bold;
	letter-spacing: 1px;
}

input[type = "radio"]:active,
input[type = "radio"]:focus,
input[type = "checkbox"]:active,
input[type = "checkbox"]:focus {
	outline: 0;
}

form div.form-group input.required {
	border-color: #E00000;
}

form div.form-group input.required:active,
form div.form-group input.required:focus {
	border-color: #5a9dc9;
}

p.red {
	color: red;
}

.ninety-percent {
	width: 90%;
}

.text-center {
	text-align: center;
}

.text-left {
	text-align: left;
}

.text-right {
	text-align: right;
}

.text-justified {
	text-align: justify;
}

.border-right {
	border-right: 8px solid #93d1de;
}

.border-left {
	border-left: 8px solid #93d1de;
}

.border-top {
	border-top: 4px solid #93d1de;
}

.border-bottom {
	border-bottom: 4px solid #93d1de;
}

.arrow-bottom {
	position: relative;
}
.arrow-bottom:before {
	top: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-bottom:after {
	border-color: rgba(0, 0, 0, 0);
	border-top-color: #;
	border-width: 15px;
	margin-left: -15px;
}
.arrow-bottom:before {
	border-color: rgba(147, 209, 222, 0);
	border-top-color: #93d1de;
	border-width: 21px;
	margin-left: -21px;
}

.arrow-top {
	position: relative;
}
.arrow-top:after, .arrow-top:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow-top:after {
	border-color: rgba(0, 0, 0, 0);
	border-bottom-color: #;
	border-width: 15px;
	margin-left: -15px;
}
.arrow-top:before {
	border-color: rgba(147, 209, 222, 0);
	border-bottom-color: #93d1de;
	border-width: 21px;
	margin-left: -21px;
}

#read-more {
	padding-top: 50px;
}

#read-more a.read-more {
	display: inline-block;
	padding: 25px 75px;

	border: 4px solid #93d1de;
	color: #93d1de;

	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 1;

	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

#read-more a.read-more:hover,
#read-more a.read-more:focus,
#read-more a.read-more:active {
	background-color: #93d1de;
	color: #fff;
	outline: 0;
}

#read-more button.read-more {
	display: inline-block;
	padding: 25px 75px;

	border: 4px solid #93d1de;
	color: #93d1de;
	background-color: transparent;

	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 1;

	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

#read-more button.read-more:hover,
#read-more button.read-more:focus,
#read-more button.read-more:active {
	background-color: #93d1de;
	color: #fff;
	outline: 0;
}

a.scroll-top {
	padding: 10px; 

	font-weight: bold;
	text-align: center;
	text-decoration: none;

	color: #93d1de;
	border: 4px solid #93d1de;

	position: fixed;
	bottom: 20;
	right: 22;
	z-index: 100;

	display: none;

	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

a.scroll-top:hover {
	background-color: #93d1de;
	color: #fff;
}

#wrapper {
    width: 100%;
    background-color: #f9f9f9;
}


/* HEADER
   ================================================== */

div#wrapper header {
	width: 100%
	margin: 0;
	padding: 0;
}

div#wrapper header div.header-wallpaper {
	overflow: hidden;
	position: absolute;
	top: 0;
	height: 100%;
	width: 100%;
}

div#wrapper header div.header-wallpaper img {
	position: absolute;
	left: 0;
	height: 150%;
	width: 100%;
	margin: 0 auto;
}

div#wrapper header div#header div.header-wallpaper img {
	height: auto;
	bottom: 80px;
	margin: 0 auto;
}

div#wrapper header div#header div.row {
	height: 100%;
	padding-bottom: 80px;
	margin: 0;
	overflow: hidden;
	font-family: "GoldenCatFont";
}

div#wrapper header div#header div.row div.logo {
	color: #fff;
	display: block;
	padding: 30px 0;
	text-align: center;
	font-size: 66px;
}

div#wrapper header div#header div.row div.logo img {
	display: block;
	margin: 0 auto;
}

div#wrapper header div#header div.row div.site-heading {
	display: inline-block;
	color: #fff;
	margin: 10px 0;
}

div#wrapper header div#header div.row div.site-heading h1 {
	padding: 35px 25px;
	font-size: 2.5em;
	font-weight: 300;
	background-color: rgba(255, 255, 255, 0.4);
	margin: 0;
}

div#wrapper header div#header div.row div.sub-site-heading {
	display: inline-block;
	padding: 10px 97px;
	margin: 0 auto;
	color: #fff;
	font-family: "GoldenCatFont";
	font-size: 1.6em;
	font-weight: 300;
	background-color: rgba(255, 255, 255, 0.4);
	width: auto;
}

div#wrapper header div#header div.row div.sub-site-heading img.quick-hands {
	max-height: 35px;
}

div#wrapper header div#header div.row div.sub-site-heading img.gabrovo {
	max-height: 60px;
}

div#wrapper header div#header div.row div.sub-site-heading div.first {
	padding: 0 20px 0 0;
	display: inline-block;
}

div#wrapper header div#header div.row div.sub-site-heading div.second {
	padding: 0 0 0 20px;
	display: inline-block;
}

@media (max-width: 900px) {
    div#wrapper header div#header div.header-wallpaper img {
    	width: 150%;
    }
}

@media (max-width: 768px) {
    div#wrapper header div#header div.row div.site-heading h1 {
		font-size: 1.6em;
	}

	div#wrapper header div#header div.row div.sub-site-heading {
		font-size: 1.2em;
	}
}

@media (max-width: 620px) {
	div#wrapper header div#header div.row div.sub-site-heading div.first,
	div#wrapper header div#header div.row div.sub-site-heading div.second {
		display: block;
	}
}

@media (max-width: 600px) {
    div#wrapper header div#header div.header-wallpaper img {
    	width: 200%;
    }
}

@media (max-width: 500px) {
    div#wrapper header div#header div.header-wallpaper img {
    	width: 300%;
    }

    div#wrapper header div#header div.row div.site-heading h1 {
		font-size: 1.3em;
	}

	div#wrapper header div#header div.row div.sub-site-heading {
		font-size: 0.9em;
	}
}

@media (max-width: 450px) {
    div#wrapper header div#header div.header-wallpaper img {
    	width: 250%;
    }
}

/* NAVIGATION BAR
   ================================================== */


#navigation-bar {
	width: 100%;
	padding: 0;
}

#navigation-bar.fixed {
	position: fixed;
	max-height: 81px;
	top: 0;
}

.navbar {
	z-index: 1000;
	
	min-height: 30px;
	margin: 0;

	background-color: #fff;

	border: 0;
	border-top: 1px solid #f1f1f1;
	border-bottom: 4px solid #ccc;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	-webkit-font-smoothing: antialiased;
}

.navbar.home {
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 1000;
	
	min-height: 30px;
	margin: 0;

	background-color: #fff;

	border: 0;
	border-top: 1px solid #f1f1f1;
	border-bottom: 4px solid #ccc;

	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;

	-webkit-transition: background-color .3s;
	transition: background-color .3s;
	-webkit-font-smoothing: antialiased;
}

.navbar-inverse .navbar-collapse {
	overflow-y: auto;
	height: 300px;
}

#nav-bar {
	background-color: #fff;
}

#nav-bar .container {
	max-width: 90%;
	margin: 0 auto;
}

.navbar .navbar-header {
	position: relative;
	margin: 0;
}

a.navbar-brand {
	font-family: "Montserrat",Helvetica,Arial,sans-serif;
	text-align: center;
	min-height: 30px;
	line-height: 84px;
	padding: 0;
	margin: 0;
	-webkit-transition: .3s;
	transition: .3s;
}

a.navbar-brand span {
	color: #444;
	font-weight: bold;
	vertical-align: middle;
	font-size: 23px;
	text-transform: uppercase;
	padding-left: 15px;
}

a.navbar-brand span.glyphicon {
	color: #93d1de;
	font-size: 40px;
}

img.menu-logo {
	height: 100%;
	float: left;
}

button.navbar-toggle {
	border: 0;
	border-radius: 0;
	background-color: transparent;
	padding: 28px 15px;
}

.navbar-inverse .navbar-toggle .icon-bar {
	background-color: #ddd;
	border-radius: 0;
}

.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:active,
.navbar-inverse .navbar-toggle:focus {
	background-color: transparent;
}

.navbar-inverse .navbar-toggle:hover > .icon-bar,
.navbar-inverse .navbar-toggle:active > .icon-bar,
.navbar-inverse .navbar-toggle:focus > .icon-bar {
	background-color: #bbb;
}

div.navbar-collapse {
	border: none;
	padding: 0;
	margin-left: -5px;
	margin-right: -5px;
}

.navbar .navbar-nav {
	float: right;
	margin: 0;
}

.navbar .navbar-nav li a {
	font-family: "Montserrat",Helvetica,Arial,sans-serif;
	font-size: 12px;
	text-transform: uppercase;

	display: block;
	letter-spacing: .5px;

	padding: 28px 15px;
	margin: 0 0 -4px 0;

	border-bottom: 4px solid #ccc;

	color: #666;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

.navbar .navbar-nav li a:hover,
.navbar .navbar-nav li a:focus,
.navbar .navbar-nav li a:active,
.navbar-nav li.dropdown.open a.dropdown-toggle,
.navbar-nav li.dropdown.open a.dropdown-toggle:hover,
.navbar-nav li.dropdown.open a.dropdown-toggle:focus, 
.navbar-nav li.dropdown.open a.dropdown-toggle:active,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:focus,
.navbar-inverse .navbar-nav .open .dropdown-menu > li > a:active {
	color: #333;
	border-color: #93d1de;
	background-color: #f1f1f1;
}

.navbar-inverse .navbar-nav .active a,
.navbar-inverse .navbar-nav .active a:hover,
.navbar-inverse .navbar-nav .active a:focus,
.navbar-inverse .navbar-nav .active a:active {
	color: #333;
	border-color: #93d1de;
	background-color: #f1f1f1;
}

@media (max-width: 1200px) {
	#navigation-bar {
		border: 0;
		margin: 0;
	}

	#navigation-bar .container {
		padding: 0;
	}

	.navbar .navbar-nav li a {
		border-bottom-color: #fff;
		margin: 0;
	}

	.navbar .navbar-nav {
		float: none;
	}
}

@media (max-width: 450px) {
	a.navbar-brand span {
		font-size: 15px;
	}

	a.navbar-brand span.glyphicon {
		font-size: 25px;
	}
}

/* WHAT IT IS ALL ABOUT
   ================================================== */

div#what-is-about div.what-is-about {
	padding: 100px 0;
}

div#what-is-about div.what-is-about div#title h2.title {
	margin-bottom: 30px;
}

div#what-is-about div.what-is-about div#image-about div.image-about {
	width: 100%;
	height: 30%;
	background-color: rgba(147, 209, 222, .4);
}

@media (max-width: 1200px) {
	.border-right,
	.border-left {
		border: 0;
	}

	p.text-about {
		margin-top: 50px;
		margin-bottom: 50px;
	}

	div#what-is-about div.what-is-about p.text-about {
		text-align: center;
	}
}


/* LECTURERS
   ================================================== */

div#lecturers {
	width: 100%;
	margin: 0 auto;
	padding: 0;
	position: relative;
}

div#lecturers div.content {
	position: relative;
	padding: 100px 0;
	width: 90%;
	color: #fff;
	margin: 0 auto;
}

div#lecturers div.content div#title h2.title {
	font-size: 2.4em;
	font-weight: normal;
	text-transform: uppercase;
	margin-bottom: 30px;
}

div#lecturers div.content div.short-info p {
	font-size: 1.125em;
	color: #ddd;
}

div#lecturers div.content div.row div.lecture-info {
	padding-top: 30px;
}

div#lecturers div.content div.row div.lecture-info div.lecture-image {
	margin-bottom: 30px;
}

img.lector-image {
	max-height: 400px;
}

div#lecturers div.content div.row div.lecture-info div.lecture-name p.name {
	font-size: 1.4em;
	color: #ddd;
	margin-bottom: 30px;
	margin-top: 15px;
}

div#lecturers div.wallpaper-image {
	overflow: hidden;
	position: absolute;
	top: 0;
	height: 100%;
	width: 150%;
	background-color: #333;
}

div#lecturers div.wallpaper-image img {
	position: absolute;
	left: 0;
	width: 100%;
	margin: 0 auto;

	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)";
	filter: alpha(opacity=30);
	-moz-opacity: 0.30;
	-khtml-opacity: 0.30;
	opacity: 0.30;
}

div#lecturers div.wallpaper-image img.wallaper {
	height: auto;
	bottom: 80px;
	margin: 0 auto;
}

div#lecturers div.content div.row div.lecture-info div.lecture-image div.col-sm-6 img.image {
	width: 100%;
	max-height: 400px;
}

@media (max-width: 1300px) {
    div#lecturers div.wallpaper-image img {
    	width: 250%;
    }
}

@media (max-width: 1200px) {
	div#lecturers div.content div.row div.lecture-info div.lecture-image div.col-sm-6 img.image {
		width: 50%;
	}
}

@media (max-width: 800px) {
    div#lecturers div.wallpaper-image img {
    	width: 350%;
    }
}

@media (max-width: 600px) {
    div#lecturers div.wallpaper-image img {
    	width: 500%;
    }

    div.row div#image-about img {
    	width: 100%;
    }
}

@media (max-width: 400px) {
    div#lecturers div.wallpaper-image img {
    	width: 700%;
    }

	div#lecturers div.content div.row div.lecture-info div.lecture-image div.col-sm-6 img.image {
		width: 80%;
	}
}


/* JURY
   ================================================== */


div#jury div.jury {
	padding: 100px 0;
}

div#jury div.jury div#title h2.title {
	margin-bottom: 30px;
}

div#jury div.jury div#image-about img {
	max-height: 400px;
}

div#jury div.jury div#image-about span.glyphicon {
	font-size: 17em;
	position: relative;
}

div#jury div.jury div#image-about i.fa-question {
	font-size: 7em;
	color: #f9f9f9;
	position: absolute;
	bottom: 50%;
	left: 50%;
	margin-left: -30px;
	z-index: 1;
}

@media (max-width: 1200px) {
	div#jury div.jury div.row div.border-right {
		border: 0;
	}

	div#jury div.jury p.text-about {
		margin-bottom: 50px;
	}

	div#jury div.jury p.text-about {
		text-align: center;
	}
}

@media (max-width: 1000px) {
	div#jury div.jury div.row div.col-sm-6 {
		width: 100%;
	}
}

/* ABOUT
   ================================================== */

#about .about {
	padding: 100px 0;
}

#about .about h2 {
	margin-bottom: 30px;
}

div#competitor div#title h2.title {
	margin-top: 50px;
}

div#competitor div.row div.col-sm-6 {
	padding-top: 50px;
}

div#competitor div.row div.col-sm-6 a.download {
	display: inline-block;
	padding: 25px 35px;

	border: 4px solid #93d1de;
	color: #93d1de;

	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 1;

	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

div#competitor div.row div.col-sm-6 a.download:hover,
div#competitor div.row div.col-sm-6 a.download:focus,
div#competitor div.row div.col-sm-6 a.download:active {
	background-color: #93d1de;
	color: #fff;
}


/* REGISTER
   ================================================== */

div.google-map iframe {
	width: 100%;
	margin: 0 auto;
}

.prices {
	padding: 100px 0;
	margin: 0 auto;
}

.prices div.row div.col-sm-6 {
	margin-bottom: 30px;
}

.prices div.row div#circle {
	display: block;
	width: 70px;
	height: 70px;
	margin: 0 auto;
	text-align: center;
}

.prices div.row div#circle span.price-circle {
	position: relative;
	display: inline-block;

	width: 100%;
	height: 100%;

	background-color: transparent;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #2579ba;

	-webkit-transition: border-color .3s;
	transition: border-color .3s;

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

	-webkit-transition-property: transform;
	transition-property: transform;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);

	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.prices div.row div#circle span.price-circle:before {
	pointer-events: none;
	position: absolute;

	z-index: -1;
	content: '';

	top: 100%;
	left: 5%;

	height: 10px;
	width: 90%;

	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 80%);

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}

.prices div.row div#circle span.price-circle p {
	color: #777;
	display: inline-block;
	font-size: 1.2em;
	line-height: 68px;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.prices div.row div.col-sm-6:hover > div#circle span.price-circle {
	border-color: #93d1de;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.prices div.row div.col-sm-6:hover > div#circle span.price-circle:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}

.prices div.row div.price-for h3 {
	padding: 20px 0;
	margin: 0;
	color: #777;
	font-size: 1.125em;
}

.prices div.row p.further-info {
	color: #999;
	font-size: 1em;
}

div#payment {
	background-color: #279f83;
}

div#payment div.payment {
	padding: 50px 0;
	margin: 0 auto;
}

div#payment div.payment div#title {
	color: #fff;
}

div#payment div.payment div#read-more button.read-more {
	border-color: #fff;
	color: #fff;
}

div#payment div.payment div#read-more button.read-more:hover {
	background-color: #fff;
	color: #279f83;
}

form div.form-group {
	width: 100%;
	margin: 0 0 20px 0;
}

form div.form-group .form-control {
	color: #444;
	font-size: 1.125em;
	height: 50px;
	outline: none;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
	border: 2px solid #ddd;
	padding: 0 0 0 15px;
	background-color: transparent;
}

form div.form-group .form-control:focus,
form div.form-group .form-control:active {
	border-color: #5a9dc9;
	outline: 0;
}

form div.form-group textarea.form-control {
	height: 200px;
	resize: none;
	padding-top: 18px;
}

form button.submit {
	display: inline-block;
	padding: 25px 75px;

	border: 4px solid #93d1de;
	background-color: transparent;
	color: #93d1de;

	text-transform: uppercase;
	font-size: 0.9em;
	font-weight: bold;
	letter-spacing: 1;

	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

form button.submit:hover,
form button.submit:focus,
form button.submit:active {
	background-color: #93d1de;
	color: #fff;
	outline: 0;
}

/* REGISTER THROUGH SITE
   ================================================== */

#register-through-site div.register-through-site {
	margin: 0 auto;
	padding: 0 0 100px 0;
}

#register-through-site div.register-through-site div.line {
	width: 100%;
	height: 2px;
	position: absolute;
	top: 50%;
	background-color: #2579ba;
}

#register-through-site div.register-through-site div.col-sm-4 {
	margin: 15px 0;
}

#register-through-site div.register-through-site div#circle {
	background-color: #f9f9f9;
}

#register-through-site div.register-through-site div#circle span.active {
	background-color: #2579ba;
	border: 2px solid #f9f9f9;
}

#register-through-site div.register-through-site div#circle span.active p {
	color: #fff;
}

#register-through-site div.register-through-site div#circle span p,
#register-through-site div.register-through-site div#circle span.active p {
	position: absolute;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

#register-through-site div.register-through-site div#circle span.active span.active {
	border: 3px solid #f9f9f9;
	top: 3%;
	width: 94%;
	height: 94%;
}

#register-through-site div.register-through-site form.registration-form {
	padding: 25px 0 0 0;
}

@media (max-width: 1200px) {
	#register-through-site div.register-through-site div.line {
		display: none;
	}
}



/* ACCOMMODATION
   ================================================== */

a.more-info {
	color: #93d1de;

	transition: .3s;
	-webkit-transition: .3s;
	-moz-transition: .3s;
}

a.more-info:hover,
a.more-info:focus,
a.more-info:active {
	color: #5a9dc9;
}

span.glyphicon-star {
	color: gold;
	font-size: 2em;
	padding: 10px;
}

div#gallery div.gallery div.row div.col-sm-10 div.col-sm-4 {
	padding: 10px 15px;
}

div#gallery div.gallery div.row div.col-sm-10 div.col-sm-4 img {
	max-height: 400px;
	max-width: 100%;
	margin: 0 auto;
}


/* SCHEDULE
   ================================================== */

#schedule .schedule .col-sm-12 {
	padding-bottom: 75px;
}

.hours {
	margin: 0 auto;
}

.hours div.row div.col-sm-6 {
	margin-bottom: 30px;
}

.hours div.row div#circle {
	display: block;
	width: 100px;
	height: 100px;
	margin: 0 auto;
	text-align: center;
}

.hours div.row div#circle span.hour-circle {
	position: relative;
	display: inline-block;

	width: 100%;
	height: 100%;

	background-color: transparent;

	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	border-radius: 50%;
	border: 2px solid #2579ba;

	-webkit-transition: border-color .3s;
	transition: border-color .3s;

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

	-webkit-transition-property: transform;
	transition-property: transform;

	-webkit-transform: translateZ(0);
	transform: translateZ(0);

	box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}

.hours div.row div#circle span.hour-circle:before {
	pointer-events: none;
	position: absolute;

	z-index: -1;
	content: '';

	top: 100%;
	left: 5%;

	height: 10px;
	width: 90%;

	opacity: 0;
	background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 80%);

	-webkit-transition-duration: 0.3s;
	transition-duration: 0.3s;

	-webkit-transition-property: transform, opacity;
	transition-property: transform, opacity;
}

.hours div.row div#circle span.hour-circle p {
	color: #777;
	display: inline-block;
	font-size: 0.9em;
	line-height: 98px;
	-webkit-transition: color .3s;
	transition: color .3s;
}

.hours div.row div.col-sm-6:hover > div#circle span.hour-circle {
	border-color: #93d1de;
	-webkit-transform: translateY(-5px);
	transform: translateY(-5px);
}

.hours div.row div.col-sm-6:hover > div#circle span.hour-circle:before {
	opacity: 1;
	-webkit-transform: translateY(5px);
	transform: translateY(5px);
}

.hours div.row div.hour-for h3 {
	padding: 20px 0;
	margin: 0;
	color: #777;
	font-size: 1.125em;
}

.hours div.row p.further-info {
	color: #999;
	font-size: 1em;
}


/* SPONSORS
   ================================================== */

div#sponsors {
	margin: 30px 0;
	padding: 15px 0;
	background-color: #555;
}

div#sponsors div.sponsors {
	margin: 0 auto;
	width: 70%;
}

div#sponsors div.sponsors img {
	width: 40%;
	margin: auto;
	margin: 15px;
}

div#sponsors div.sponsors div.col-sm-4:last-child img {
	width: 20%;
	margin: auto;
	margin: 15px;
}



/* FOOTER
   ================================================== */

footer {
	text-align: left;
	overflow: hidden;

	bottom: 0;
	left: 0;
	right: 0;

	z-index: -1;

	background-color: #f0f0f0;
	border-top: 1px solid rgba(0,0,0,.05);
}

footer div.footer {
	position: relative;
	margin: 0 auto;
	padding: 0;
	width: 90%;
}

footer div.footer div.row {
	margin: 10px 0 0 0;
}

footer div.footer div.row p {
	padding: 20px 0;
	vertical-align: middle;
}

footer div.footer div.row p.social-media {
	color: #777;
	float: right;
}

footer div.footer div.row p.social-media a {
	margin: 0 10px 10px 0;
	font-size: 1.4em;
	transition: .5s;
	-webkit-transition: .5s;
	-moz-transition: .5s;
}

footer div.footer div.row p.social-media a:hover,
footer div.footer div.row p.social-media a:focus,
footer div.footer div.row p.social-media a:active {
	color: #93d1de;
}

footer div.footer div.row p.social-media a {
	text-align: center;
}

@media (max-width: 1000px) {
	footer div.footer div.row p {
		text-align: center;
	}

	footer div.footer div.row p.social-media {
		float: none;
	}
}